@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--foreground-rgb);
  font-family: "Fuzzy Bubbles", cursive;
}

.wrap {
  overflow: scroll;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.bg {
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.content {
  position: relative;
}

.main-home {
  padding: 0.2rem;
  text-align: center;
  width: 96%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .seasons-container {
    height: 200px;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
